html{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

body
{
    background-color: #E5E5E5;
}
.fighters, .bombers, .aircraft, .twin, .strike
{
    width: 100%;
    align: center;
    cellspacing: 0;
    cellpadding: 3;
    border: 1px solid #B0BEC5;
    background: #EEEEEE;
}

.fighters-primary, .bombers-primary, .aircraft-primary, .twin-primary, .strike-primary
{
    width: 15%;
    align: left;
    background: #DBE0E2;
    visibility: visible;
}

.fighters-secundary, .bombers-secundary, .aircraft-secundary, .twin-secundary, .strike-secundary
{
    background: #f6f6f6;
    border-left: 1px solid #B0BEC5;
    padding-left: 7px;
    padding-right: 7px;
    visibility: visible;
    width: 100%;
}

.aviones-imagen
{
    transition: transform .2s;
    width: 120px;
    height: 48px;
}

.aviones-imagen:hover
{
    transform: scale(1.2);
}

.all-tables
{
    padding-left: 10%;
    padding-right: 10%;
}

.fighters-button, .bombers-button, .aircraft-button, .twin-button, .strike-button
{
    float:right;
}

a
{
    text-decoration-skip-ink: none;
    text-decoration: none;
    color: #0645ad;
    background: none;
}

a:not( [href] )
{
    cursor: pointer;
}

a:hover, a:focus
{
    color: orange;
    text-decoration: underline;
}

.BarraBusqueda input[type=text] {
    float: left;
    padding: 5px;
    padding-left: 10px;
    margin-right: 5px;
    margin-left: 15px;
    font-size: 17px;
    width: 900px;
    height: 15px;
    background-color: #99A3A8;
}

::placeholder {
    color: black;
}

.minimenu{
    text-align: center;
    padding: 15px;
    padding-bottom: 25px;
}

.minimenu a {
    text-decoration: none;
    color: black;
}

.minimenu a:hover {
    color: #0056b3;
}

header a:hover{
    text-decoration: none;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #E5E5E5;
}

/*Footer Styles*/
footer {
    background-color: #38393A;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

main {
    flex-grow: 1;
}


.icono_pie{
    width: 70px; 
    height: 60px;
}

/* Search Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1000px;
    padding-left: 265px;
    padding-top: 19px;
}

::placeholder {
    color: black;
}

.container input{
    background-color: #99A3A8;
}

.search-input-box {
    width: 136%;
    background-color: #99A3A8;
    border-radius: 3px;
    position: relative;
    color: black;
    box-shadow: 0 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input-box input {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 5px;
    height: 50px;
    padding: 0 60px 0 20px;
    font-size: 18px;
}

.icon {
    position: absolute;
    top: 15px;
    right: 45px;
    font-size: 22px; 
    cursor: pointer;
    color: black;
}

.icon2 {
    position: absolute;
    top: 15px;
    right: 5px;
    font-size: 22px; 
    cursor: pointer;
    color: black;
}

/* Suggestions Styles */
.container-suggestions {
    max-height: 280px;
    opacity: 0;
    pointer-events: none;
    padding: 0;
    overflow-y: auto;
}

.search-input-box.active .container-suggestions {
    opacity: 1;
    pointer-events: auto;
    padding: 10px 8px;
}

.search-input-box.active .container-suggestions li {
    display: block;
}


.container-suggestions li {
    list-style: none;
    width: 100%;
    padding: 8px 12px;
    border-radius: 5px;
    display: none;
}

/*Header Styles*/
header {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.logo {
    position: absolute;
    left: 20px;
    top: 50%;
    padding-top: 48px;
    transform: translateY(-50%);
    width: 100px;
    height: auto;
}

header h1 {
    font-size: 3.5em;
    color: #333;
    font-weight: 700;
    margin: 0 auto;
}

header p {
    font-size: 1.5em;
    color: #666;
    font-weight: 300;
}

.thTitle {
    text-align: center;
}

th p {
    font-size: 34px;
}