html{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
}

.BarraBusqueda input[type=text] {
    float: left;
    padding: 5px;
    padding-left: 10px;
    margin-right: 5px;
    margin-left: 15px;
    font-size: 17px;
    width: 900px;
    height: 15px;
    background-color: #99A3A8;
}

::placeholder {
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #0056b3;
}

.Encabezado{
    width: 100%;
    border-collapse: collapse;
}

.Encabezado h1{
    font-size: 3.5em;
    color: #333;
    font-weight: 700;
    margin: 0 auto;
}

.texto{
    padding-left: 250px;
    width: 1100px;
}

/*Pie*/
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
    background-color: #E5E5E5;
}
footer {
    background-color: #38393A;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}

main {
    flex-grow: 1;
    padding: 20px;
}


.icono_pie{
    width: 70px; 
    height: 60px;
}