.fighters, .bombers, .aircraft, .twin
{
    width: 100%;
    align: center;
    cellspacing: 0;
    cellpadding: 3;
    border: 1px solid #B0BEC5;
    background: #EEEEEE;
}

.fighters-primary, .bombers-primary, .aircraft-primary, .twin-primary
{
    width: 15%;
    align: left;
    background: #DBE0E2;
    visibility: visible;
}

.fighters-secundary, .bombers-secundary, .aircraft-secundary, .twin-secundary
{
    background: #f6f6f6;
    border-left: 1px solid #B0BEC5;
    padding-left: 7px;
    padding-right: 7px;
    visibility: visible;
}

.aviones-imagen
{
    width: 120px;
    height: 48px;
}